<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Jody Vasquez<%= " &mdash; #{@page_title}" %></title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link href='http://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="/stylesheets/master.css" type="text/css" charset="utf-8" />
</head>
<body>
    <div id="wrapper">
        <div id="book">
            <div class="container_12">
                <div class="grid_2">
                    <h1 id="branding">
                        <a href="/">
                            Jody Vasquez
                        </a>
                        <img src="/images/decoration.png" width="92" height="23" />
                    </h1>
                    <img src="/images/bookmark_end.png" />
                </div>
                <div class="grid_7">
                    <div id="quote">
                        <!-- quote here -->
                        <blockquote>
                            “Much more interesting than anything written by people who didn’t know Ben. Excuse me,<br />‘Mr. Hogan.’”
                        </blockquote>
                        <cite>&ndash; Dan Jenkins, friend of Ben Hogan and author of <em>Dead Solid Perfect</em></cite>
                    </div>
                    <hr />
                    <p id="buy_the_book">
                        Buy:
                        <a href="http://amzn.it/e7q">Amazon</a>
                        <a href="http://bit.ly/95ljx4">Barnes <span class="amp">&amp;</span> Noble</a>
                        <a href="http://bit.ly/cAc8Oq">Books-A-Million</a>
                        <a href="http://bit.ly/bSkj8M">Borders</a>
                    </p>
                </div>
                <div class="grid_3">
                    <img src="/images/book_jacket.png" title="Afternoons with Mr. Hogan" width="220" height="330" />
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div id="quotes">
            <div class="container_12">
                <div class="grid_4">
                    <blockquote>
                        “Jody Vasquez has given us a fascinating and fresh perspective about such an unusual man, Mr. Hogan.”
                    </blockquote>
                    <cite>Ben Crenshaw<br />Masters Champion and Ryder Cup Captain</cite>
                </div>
                <div class="grid_4">
                    <blockquote>
                        “It’s a fantastic look into Hogan, the man.”
                    </blockquote>
                    <cite>Hal Sutton<br />2004 USA Ryder Cup Captain</cite>
                </div>
                <div class="grid_4">
                    <blockquote>
                        “Ben Hogan was the most private public figure I have ever known. It's terrific that Jody shares these stories.”
                    </blockquote>
                    <cite>Lee Trevino<br />Six-time major championship winner</cite>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div id="about">
            <div class="container_12">
                <div class="grid_2">
                    <div id="headshot"></div>
                </div>
                <div class="grid_10">
                    <p>
                        <strong>Jody Vasquez</strong>
                    </p>
                    <p>
                        While growing up in Fort Worth Vasquez, as a teenager, shagged balls for Ben Hogan during the 1960’s. 
                        As a result of that experience and a lifelong relationship with Hogan he has written his book 
                        &quot;Afternoons with Mr. Hogan&quot;.
                    </p>
                    <p>
                        An avid golfer, Vasquez has played in tournaments worldwide. 
                        He has won the Bermuda Amateur, played in the British Amateur, the USGA Senior Opens at Rivera ‘98 and Des Moines ‘99, 
                        USGA Amateur events and others. Vasquez is a 2-time Fort Worth Men’s City champion and 7-time Colonial C.C. 
                        men’s champion. He was a 5- time member of the Texas State amateur team representing Texas in the Mid-South Cup matches.
                    </p>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div id="contact_us">
            <div class="container_12">
                <div class="grid_4">
                    <div class="vcard">
                        <span class="fn">Jody Vasquez</span>
                        <div class="org">Oil and Gas Information Systems</div>
                        <div class="adr">
                            <div class="street-address">6500 West Freeway Ste. 1020</div>
                            <span class="locality">Fort Worth</span>, 
                            <span class="region">Texas</span>
                            <span class="postal-code">76116</span>
                        </div>
                        <a class="email" href="mailto:jody@jodyvasquez.com">jody@jodyvasquez.com</a>
                    </div>
                </div>
                <div class="grid_4">
                    <div class="vcard">
                        <span class="fn">Jessica Sindler</span>
                        <div class="org">Gotham Books</div>
                        <div class="adr">
                            <div class="street-address">375 Hudson Street</div>
                            <span class="locality">New York</span>, 
                            <span class="region">New York</span>
                            <span class="postal-code">10014</span>
                        </div>
                        <div class="tel">212-366-2653</div>
                    </div>
                </div>
                <div class="grid_4">
                    <div class="vcard">
                        <span class="fn">Scott Waxman</span>
                        <div class="org">Waxman Literary Agency</div>
                        <div class="adr">
                            <div class="street-address">80 Fifth Avenue Ste. 1101</div>
                            <span class="locality">New York</span>, 
                            <span class="region">New York</span>
                            <span class="postal-code">10011</span>
                        </div>
                        <div class="tel">212-675-5556</div>
                    </div>                    
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div id="footer">
            <div class="container_12">
                <div class="grid_8">
                    &copy; <%= Time.now.strftime('%Y') %> Jody Vasquez. All rights reserved.
                </div>
                <div class="grid_4 align_right">
                    Site design by <a href="http://dwarfmondo.com">DwarfMondo</a>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</body>